/* commone style */
body{
    font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
}
.primary-text{
    color:#FD6E0A;
}
main{
    max-width: 83%%;
    margin: 0 auto;
}
/* baner section style */
.baner{
    margin:50px auto 0;
    border: 0;
    border-radius: 20px;
    background-image:
    linear-gradient(to top, rgba(41, 42, 53, 0.52), rgba(48, 35, 51, 0.705)),
    url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    font-family:Merriweather;
}
.baner-section{
padding: 140px 345px;
}
.baner-title{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 15px;
}
.baner-heading{
    color: white;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    margin-top: 0;
}
/* section-1 related dtyle */
.section-1{
    margin: 120px auto;
    text-align: center;
}
.section-offer{
    font-size: 90px;
    font-weight: 700;
    font-family:Merriweather;
    color: #FD6E0A;
}
.section-title{
    font-size: 22px;
    font-weight: 400;
    font-family: Open Sans;
    color: #FD6E0A;
    margin-top: 45px;
    margin-bottom: 15px;
}
.section-heading{
    color: black;
    font-size: 45px;
    font-weight: 700;
    font-family: Open Sans;
}
/* section-2 related style */
.section-2{
    margin: 120px auto;
    border: 0;
    border-radius: 20px;
    background-image:
    linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    font-family:Merriweather;   
}
.section-container-2{
    display: flex;
    justify-content: space-between;
    padding: 70px 135px;
    /* padding: 70px 500PX 0PX 128PX; */
}
.section-title-2{
    color: #fff;
    font-size: 65px;
    font-weight: 900;
    font-family: Merriweather;
    margin-bottom: 24px;
}
.section-description-2{
    color: rgba(255, 255, 255, 0.80);
    font-size: 17px;
    font-weight: 400;
    font-family:Open Sans ;
    margin-top: 0px;
    margin-bottom: 48px;
}
.button{
    color:#fff ;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans ;
    margin-top: 0px;
    margin-bottom: 20PX;
    border: none;
    background-color:transparent;
}
/* section-3 related style */
.section-3{
    margin: 120px auto;
    width: 1320px;
    height: 550px;
    background-color: #FFF8F3;
    align-items: center;
    border-radius: 20px;
}
.section-container-3{
    text-align: center;
    padding: 80px;
}
.section-info{
    font-size: 32px;
    font-weight: 700px;
    font-family:  Open Sans;
}
.button-2{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 16px 32px;
}
/* optional-section */
/* optiol-seaction-1 */
.optiol-seaction-1{
    margin: 120px auto;
    width: 1320px;
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: white;
}
.op-colom-heading-1{
    color: #FD6E0A;
    font-size: 24px;
    font-weight: 700;
    font-family:Open Sans;
}
.op-colom-title-1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 900;
    font-family: Merriweather;
}
.op-colom-description-1{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: Open Sans;
}
.op-colom-heading-2{
    color: #FD6E0A;
    font-size: 50px;
    font-weight: 900;
    font-family: Merriweather;
}
.op-colom-description-2{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: Open Sans;
}
.op-colom-image-1{
    border: 15px solid #FD6E0A;
    border-radius: 50%;
    padding: 45px;
}
/* gift-section related stylw */
.gift-section{
    margin: 120px auto;
    width: 1320px;
    
    background-color: #FFF;
    align-items: center;
    border-radius: 20px;
}
.gift-title{
    color:#FD6E0A ;
    font-size:24px ;
    font-weight:400;
    font-family: Open Sans;
    margin-bottom: 0px;
}
.gift-heading{
    color:black ;
    font-size: 50px;
    font-weight: 900;
    font-family: Merriweather;
    margin-top: 16px;
    margin-bottom: 20px;
}
.gift-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: Open Sans;
    margin-top: 0px;
    margin-bottom: 45px;
    padding: 0px 570px 0px 0px;
}
.images-colom{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
/* subscribe-sectin related style */
.subscribe-section{
    margin: 120px auto;
    width: 1320px;
    height: 600px;
    border: 0;
    border-radius: 20px;
    background-color: #FFF8F3;
    align-items: center;
}
.subscribe-section-container{
text-align: center;
padding: 80px 215px;
}
.subscribe-title{
    color:black ;
    font-size: 50px;
    font-weight: 900;
    font-family: Merriweather;
    margin-top: 40px;
    margin-bottom: 20px;
}
.subscribe-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: Open Sans;
    margin-top: 0px;
    margin-bottom: 45px;
}
.input{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 650px;
    height: 70px;
    background-color: #fff;
    border-radius: 50px;
}
.subscribe-form-1 input{
    padding: 22px 0px 22px 30px;
    font-size: 20px;
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    background-color: #fff;
}
 button{
    padding: 22px 55px;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    border-radius: 0px 50px 50px 0px;
    background-color: #FD6E0A;
}
/* footer related style */
footer{
    margin-top: 120px;
    padding: 100px 140px;
    width: 100%;
    height: 610px;
    background-color: #1d1330;
    font-size: 24px;
    font-weight: 700;
    color: #cbb1ff;
}
.footer-colom-1{
    display: flex;
    justify-content: space-between;
    padding: 0px 500px 50px 0px;
}
.location .contacts{
    width: 50%;
}
.contacts-deteals {
    margin: 0px 0px;
}

.contacts-number, .contacts-web{
    display: flex;
}
.images-colom-1{
    margin: 0px;
    padding: 30px 15px;
}
.social-link{
    margin: 25px 0px;
    text-align: center;
}
.social-link img{
    margin-right: 25px;
}
.hr-1{
    margin-right: 250px;
}
.hr-2{
    margin-right: 250px;
}
.footer-colom-2{
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
    padding: 50px 0px;
}